@import url('https://fonts.googleapis.com/css2? family=Roboto&display=swap');

html, body {
    background: linear-gradient(to right, purple, pink);
    text-align: center;
}
.caramelized {
text-align: center;
}

.fresh{
    text-align: center;
}

.child {
    background-color: white;
    color: black;
}

hr {
    color: white;
}

.ingredients {
    text-align: left;
}

.method {
    text-align: left;
}

#logo {

}

#video {
    
}